# Servidor
PORT=3333
NODE_ENV=development

# Banco de Dados (PostgreSQL / Supabase)
DATABASE_URL="postgresql://usuario:senha@host:5432/reservas_db?schema=public"

# JWT
JWT_SECRET="sua-chave-secreta-aqui-mude-em-producao"
JWT_EXPIRES_IN="7d"
